<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weaverhong.lesson.chatchat">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/launcher_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".Activity.WelcomeActivity"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">
        </activity>
        <activity android:name=".Activity.RegistActivity"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">
        </activity>
        <activity android:name=".Activity.ChatActivity">
            <intent-filter>
                <action android:name="com.weaverhong.lesson.chatchat.newmessage"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity"/>
        <activity android:name=".Activity.UserActivity"/>
    </application>

</manifest>